.acordeon{
   display: flex; 
   flex-direction: column;
   width: 100%;
   margin: 1rem 0;
   border: 1px solid white;
   border-radius: 1rem;
   transition: 1s;
}
.acordeon.open,
.acordeon:hover{
    background-color: rgb(121, 16, 16);
    border-color: black ;
}


.acordeon .trigger{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: transparent;
    color :white;
    border: none;

}

.acordeon .trigger:hover{
    cursor:pointer
}

.acordeon .trigger::after{
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('//assets/img/icons/arrow-top.svg');
    transition:  1s;
}

.acordeon.open .trigger::after{
    transform: rotate(180deg);
}

.acordeon .content{
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: 0.25s ease-in-out;
}

.acordeon.open .content{
    display: inline-block;
    padding: 0 1rem 1rem 2rem;
    height: 100%;
    opacity: 1;
}